{% extends 'base.html.twig' %}
{% block body %}
   
  <h2>Liste des Candidats | <small>
   <a href="{{ path('Ajouter') }}">Ajouter</a> </small></h2>
    {% for msg in app.flashes('notice') %}
        {{ msg }}
    {% endfor %}
   <table class="table table-hover table-striped" border="1">
    <thead>
    <tr>
      <th>#</th>
      <th>Nom & Prenom</th>
      <th>Contenu</th>
      <th>Date</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for candidat in lesCandidats %}
      <tr>
        <td>{{ candidat.id }}</td>
        <td>{{ candidat.candidat | upper}} </td>
        <td>{{ candidat.datec | date('d/m/yy')}} </td>
        <td>{{ candidat.contenu }}</td>
        <td>
          <a class="btn btn-primary" href="{{ path('job_show', {'id':candidat.id }) }}">voir</a>
          <a class="btn btn-info" href="{{ path('edit_user', {'id':candidat.id }) }}">Modifier</a>
           <a class="btn btn-danger" href="{{ path('cand_delete', {'id':candidat.id }) }}" onclick="return confirm('Are you sure to delete!{{ candidat.candidat }}')">Supprimer</a>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="5" >Aucun abonneé</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}